body{margin: 0px;padding: 0px;}

*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border: 1px solid red}

.row:after{
    content:' ';
    clear: both;
    display: block;
}
.header1{
    height: 50px;
}
.header2{
    height: 250px;
}
.menu{height: 50px;}
.content{height: 700px;}
.big-footer{height: 250px}
.footer{height: 50px; }

.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

/*.test{background-color: blue}*/
@media screen and (max-width: 576px){

[class*="col-"]{
    width: 100%;
}
}
@media screen and (min-width: 577px) and (max-width: 890px){
    .col-t1{width: 8.33%;}
    .col-t2{width:16.66%;}
    .col-t3 {width:25% ;}
    .col-t4{width: 33.33%;}
    .col-t5{width:41.66%;}
    .col-t6{width:50%;}
    .col-t7{width:58.33%;}
    .col-t8{width:66.66%;}
    .col-t9{width:75%;}
    .col-t10{width:83.33%;}
    .col-t11{width:91.66%;}
    .col-t12{width: 100%;}

    .position-absolute{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .position-relative{
        position: relative;
    }
.display-none{display: none;}
}


