body{margin: 0;padding: 0;font: 15px/1.5 Arial, Helvetica,sans-serif;}
*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border: none;

}

.row:after {
    clear: both;
    content: "";
    display: block;
}


.container{padding:0 150px 0 150px;}
input,button {padding:5px 10px;}
.highlight{background-color: #E0E0E0;color: #757575;padding-left: 10px;}
nav{height: 80px;}
nav ul li{
    float: left;
    list-style-type: none;
    border: 1px solid gray;
    border-bottom: none;
    padding: 10px 10px 10px 10px;
    display: block;

}
nav ul li a{

    text-decoration: none;
    text-align: center;

    color: black;

}
nav ul li:hover{color: white;}
.current{background-color: red; border-bottom: 4px solid red; color: white}
.green-border{border-bottom: 4px solid green; color: green}
.green-border:hover{background-color: green;color:white;}
.blue-border{border-bottom:4px solid dodgerblue; color:dodgerblue;}
.blue-border:hover{background-color: dodgerblue;}
.gray-border{border-bottom:4px solid gray; color:black;}
.gray-border:hover{background-color: darkblue;}
.pink-border{border-bottom:4px solid pink; color:deeppink;}
.pink-border:hover{background-color: pink;}

.left-content{padding-right: 7px;}
/*.middle-content{padding: 10px;}
.right-content{padding: 10px;}*/
.middle-content img{  max-width:250px;}
.p{text-align: justify;}
h1{padding-top: 0px;padding-bottom: 7px;margin:0px;}
h2{padding-top: 0px;padding-bottom: 7px;margin:0px;}
h3{padding-top: 0px;padding-bottom: 7px;margin:0px;}
p{padding-top: 0px;margin-top: 0px;}