*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

[class*='col-'] {
    float: left;
    /*border: 1px solid gray;*/
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.container{
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.header-top{
    background-color: black;
}

.menu-top{
    list-style-type: none;
    float: right;
}
.menu-top li{
    float: left;
}
.menu-top li a{
    display: block;
    color: white;
    text-decoration: none;
}
.mr-7{ margin-right: 7px; }
.h-30{ height: 30px; }
.pt-6{ padding-top: 6px; }

.header-bottom{
    background-color: brown;
    height: 130px;
}
.bg-whitesmoke{ background-color: whitesmoke; }
.h-100{ height: 100%; }
.logo-image{
    padding-top: 28px;
    padding-left: 5px;
}
.menu-bottom{
    list-style-type: none;
    float: right;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid brown;
}
.menu-bottom li a{
    text-decoration: none;

}
.pt-10{ padding-top: 10px; }
.search-form{
    padding-top: 40px;
    padding-left: 25px;
}
.search-input{
    height: 30px;
    border: 1px solid gray;
}
.btn{
    padding: 6px;
    margin-left: -5px;
}
.nav{
    min-height: 50px;
    background-color: darkred;
}
.main-menu{
    list-style-type: none;
}
.main-menu li{
    float: left;
    width: 16%;
}
.main-menu li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid #343a40;
    font-family: serif;
    letter-spacing: .05em;
    font-weight: bold;
}
.w-125{ width: 125%; }

.content-section{
    min-height: 700px;
    background-color: lightgray;
}
.bg-white{ background-color: white; }
.p-trl{ padding: 10px 10px 0; }


.slider-image{
    height: 350px;
    width: 100%;
}

.bg-mix{
    background: radial-gradient(firebrick, firebrick, gray);
    height: 350px;
    padding: 10px;
}
.content-wrapper{
    padding-top: 60px;
}

.content-wrapper h1{
    color: white;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.content-wrapper p{
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 20px;
    text-align: justify;
}
.slider-nav{
    background: linear-gradient(to top,black,#4e1d5f,#4e1d5f,#4e1d5f,#4e1d5f,#4e1d5f,#4e1d5f, #4e1d5f);
    min-height: 45px;
    margin-top: -4px;
}
.slider-menu{
    list-style: none;
}
.slider-menu li{
    float: left;
    width: 16%;

}
.slider-menu li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;

}
.sideBar-1 ul{
   list-style-type: none;
}
.sideBar-1 ul li{
    width: 100%;
}
.sideBar-1 ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 3px;
    border-left: 15px ridge red;

}

.mtb{
    margin: 20px 0px;
}
.sideBar-2 h2{
    margin-bottom: 5px;
}
.sideBar-2 a{
    text-decoration: none;
    color: red;
    padding: 5px;
}
.sideBar-2 p{
    text-align: justify;
    margin: 5px;
}
.apply-button{
    padding: 5px 12px;
    background-color: white;
    color: black;
    margin: 10px 0px;
}
.img-responsive{
    width: 100%;
    height: 200px;
}
.sideBar-bg{background: linear-gradient(to left,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,whitesmoke,lightgray);}
.sideBar-content img{
    padding:10px 20px 0 20px;
    float:left;

}
.sideBar-content{
    padding: 0px 20px;
}
.sideBar-content p{padding:0px 20px; text-align:justify;}
.text-highlight{color: red;
font-size: 17px;
}
